<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxing.car.dao.BarsRuleDao">
	<resultMap type="com.youxing.car.entity.BarsRule" id="BarsRuleRM">
		<id column="id" property="id" />
		<result column="barid" property="barid" />
		<result column="type" property="type" />
		<result column="startdate" property="startdate" />
		<result column="enddate" property="enddate" />
	</resultMap>
	<resultMap type="com.youxing.car.entity.BarsRule" id="BarsRuleAndCarsRM">
		<id column="id" property="id" />
		<result column="barid" property="barid" />
		<result column="type" property="type" />
		<result column="startdate" property="startdate" />
		<result column="enddate" property="enddate" />
		<collection property="barsRuleRelations" ofType="com.youxing.car.entity.BarsRuleRelation">
		    <id property="id" column="rr_id"/>
		    <result property="fenceid" column="fenceid"/>
		    <association property="car" javaType="com.youxing.car.entity.Car">
                <id property="id" column="c_id"/>
		        <result column="car_no" property="car_no" />
		        <result column="driver_no" property="driver_no" />
            </association>
		</collection>	
	</resultMap>
	<!-- _____________________________________________________________________________ 全部字段 -->
	<sql id="COLUMNS">
		id,barid,type,startdate,enddate
	</sql>


	<!-- _____________________________________________________________________________ 1.add -->

	<insert id="add" parameterType="com.youxing.car.entity.BarsRule">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
		insert into yx_bars_rule (
			<if test="barid != null and barid!=''">barid ,</if>
			<if test="type != null and type!=''">type ,</if>
			<if test="startdate != null and startdate!=''">startdate ,</if>
			<if test="enddate != null and enddate!=''">enddate</if>
		)
		values (
			<if test="barid != null and barid!=''"> #{barid},</if>
			<if test="type != null and type!=''"> #{type},</if>
			<if test="startdate != null and startdate!=''"> #{startdate},</if>
			<if test="enddate != null and enddate!=''"> #{enddate}</if>
		)
	</insert>

	<!-- ______________________________________________________________________________ 2.modify -->

	<update id="modify" parameterType="com.youxing.car.entity.BarsRule">
		update yx_bars_rule 
		<set>
			<if test="barid != null and barid!=''">barid = #{barid},</if>
			<if test="type != null and type!=''">type = #{type},</if>
			<if test="startdate != null and startdate!=''">startdate = #{startdate},</if>
			<if test="enddate != null and enddate!=''">enddate = #{enddate}</if>
		</set>
		where id = #{id}
	</update>

	<!-- _____________________________________________________________________________ 3.removeById -->

	<delete id="removeById" parameterType="long">
		delete from yx_bars_rule where id=#{id} 
	</delete>

	<!-- _____________________________________________________________________________ 4.removeByIds -->

	<delete id="removeByIds" parameterType="List">
		delete from yx_bars_rule where id in 
		<foreach collection = "list" index="index"  item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- _____________________________________________________________________________ 5.listAll -->

	<select id="listAll" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule
	</select>

	<!-- _____________________________________________________________________________ 6.listBy -->

	<select id="listBy" parameterType="map" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="barid != null">and barid = #{barid}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="startdate != null">and startdate = #{startdate}</if>
			<if test="enddate != null">and enddate = #{enddate}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 7.pageBy -->

	<select id="pageBy" parameterType="map" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="barid != null">and barid = #{barid}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="startdate != null">and startdate = #{startdate}</if>
			<if test="enddate != null">and enddate = #{enddate}</if>
		</where>
		order by id desc
		limit #{startIdx},#{limit}
	</select>

	<!-- _____________________________________________________________________________ 8.1.findByMap -->

	<select id="findByMap" parameterType="map" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="barid != null">and barid = #{barid}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="startdate != null">and startdate = #{startdate}</if>
			<if test="enddate != null">and enddate = #{enddate}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 8.2.findBy -->

	<select id="findBy" parameterType="com.youxing.car.entity.BarsRule" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="barid != null">and barid = #{barid}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="startdate != null">and startdate = #{startdate}</if>
			<if test="enddate != null">and enddate = #{enddate}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 9.findById -->

	<select id="findById" parameterType="long" resultMap="BarsRuleRM">
		select <include refid="COLUMNS" /> from yx_bars_rule where id = #{id}
	</select>

	<!-- _____________________________________________________________________________ 10.countAll -->

	<select id="countAll" resultType="integer">
		select count(id) from yx_bars_rule
	</select>

	<!-- _____________________________________________________________________________ 11.countBy -->

	<select id="countBy" parameterType="map" resultType="integer">
		select count(id) from yx_bars_rule
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="barid != null">and barid = #{barid}</if>
			<if test="tpye != null">and type = #{type}</if>
			<if test="startdate != null">and startdate = #{startdate}</if>
			<if test="enddate != null">and enddate = #{enddate}</if>
		</where>
	</select>
	<!-- ******************扩展Mapper****************** -->
	
	<select id="findBarsRuleAndCars" parameterType="long" resultMap="BarsRuleAndCarsRM">
        select b.id,b.type,b.startdate,b.enddate,r.id as rr_id,r.fenceid,c.id as c_id,c.car_no,c.driver_no
        from(select *
	         from yx_bars_rule 
             where barid = #{barid}) b
        left join yx_bars_rule_relation r on b.id = r.ruleid
        left join yx_car c on r.carid = c.id
	</select>
</mapper>
