<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxing.car.dao.PushDao">
	<resultMap type="com.youxing.car.entity.Push" id="PushRM">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		<result column="createdate" property="createdate" />
		<result column="push" property="push" />
		<result column="title" property="title" />
		<result column="pass" property="pass" />
	</resultMap>
	<!-- _____________________________________________________________________________ 全部字段 -->
	<sql id="COLUMNS">
		id,type,content,createdate,push,title,pass
	</sql>


	<!-- _____________________________________________________________________________ 1.add -->

	<insert id="add" parameterType="com.youxing.car.entity.Push">
		insert into yx_push (
			<if test="type != null and type!=''">type ,</if>
			<if test="content != null and content!=''">content ,</if>
			<if test="createdate != null ">createdate ,</if>
			<if test="title != null and title!='' ">title ,</if>
			<if test="pass != null and pass!='' ">pass ,</if>
			<if test="push != null and push!=''">push</if>
		)
		values (
			<if test="type != null and type!=''"> #{type},</if>
			<if test="content != null and content!=''"> #{content},</if>
			<if test="createdate != null "> #{createdate},</if>
			<if test="title != null and title!='' ">#{title} ,</if>
			<if test="pass != null and pass!='' ">#{pass} ,</if>
			<if test="push != null and push!=''"> #{push}</if>
		)
	</insert>

	<!-- ______________________________________________________________________________ 2.modify -->

	<update id="modify" parameterType="com.youxing.car.entity.Push">
		update yx_push 
		<set>
			<if test="type != null and type!=''">type = #{type},</if>
			<if test="read != null ">read = #{read}</if>
		</set>
		where id = #{id}
	</update>

	<!-- _____________________________________________________________________________ 3.removeById -->

	<delete id="removeById" parameterType="long">
		delete from yx_push where id=#{id} 
	</delete>

	<!-- _____________________________________________________________________________ 4.removeByIds -->

	<delete id="removeByIds" parameterType="List">
		delete from yx_push where id in 
		<foreach collection = "list" index="index"  item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- _____________________________________________________________________________ 5.listAll -->

	<select id="listAll" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push
	</select>

	<!-- _____________________________________________________________________________ 6.listBy -->

	<select id="listBy" parameterType="map" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<if test="push != null">and push = #{push}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 7.pageBy -->

	<select id="pageBy" parameterType="map" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<!-- <if test="push != null">and push = #{push}</if> -->
			<if test="lists != null">and push in
				<foreach collection="lists" item="item" index="index" open="(" separator="," close=")">
				#{item}
	            </foreach>            
			</if>
		</where>
		order by id desc
		limit #{startIdx},#{limit}
	</select>

	<!-- _____________________________________________________________________________ 8.1.findByMap -->

	<select id="findByMap" parameterType="map" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<if test="push != null">and push = #{push}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 8.2.findBy -->

	<select id="findBy" parameterType="com.youxing.car.entity.Push" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<if test="push != null">and push = #{push}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 9.findById -->

	<select id="findById" parameterType="long" resultMap="PushRM">
		select <include refid="COLUMNS" /> from yx_push where id = #{id}
	</select>

	<!-- _____________________________________________________________________________ 10.countAll -->

	<select id="countAll" resultType="integer">
		select count(id) from yx_push
	</select>

	<!-- _____________________________________________________________________________ 11.countBy -->

	<select id="countBy" parameterType="map" resultType="integer">
		select count(id) from yx_push
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<if test="push != null">and push = #{push}</if>
		</where>
	</select>
	<!-- ******************扩展Mapper****************** -->
	
	<select id="groupByType" parameterType="map" resultType="countPushType">
		select type,count(id) as num from yx_push 
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="type != null">and type = #{type}</if>
			<if test="content != null">and content = #{content}</if>
			<if test="read != null">and readss = #{read}</if>
			<if test="createdate != null">and createdate = #{createdate}</if>
			<if test="push != null">and push = #{push}</if>
		</where>
		group by type
	</select>
	
	<!-- 信息驳回时将驳回的信息插入push表 -->
	<insert id="addRejectInfo" parameterType="map">
		insert into yx_push (
			<if test="type != null and type!=''">type ,</if>
			<if test="content != null and content!=''">content ,</if>
			<if test="createdate != null ">createdate ,</if>
			<if test="title != null and title!='' ">title ,</if>
			<if test="pass != null and pass!='' ">pass ,</if>
			<if test="push != null and push!=''">push</if>
		)
		values (
			<if test="type != null and type!=''"> #{type},</if>
			<if test="content != null and content!=''"> #{content},</if>
			<if test="createdate != null "> #{createdate},</if>
			<if test="title != null and title!='' ">#{title} ,</if>
			<if test="pass != null and pass!='' ">#{pass} ,</if>
			<if test="push != null and push!=''"> #{push}</if>
		)
	</insert>
</mapper>
